body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header{
    background: #44a11d;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}
nav ul {
    list-style: none; 
    padding: 0; 
    text-align: center; 
}
nav ul li {
    display: inline; 
    margin: 0 15px;
}
nav ul li:hover {
    font-size: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    padding: 20px;
}
section {
    background: white;
    padding: 15px;
    margin: 15px 0; 
    border-radius: 50px; 
    box-shadow: 0 0 10px rgba(254, 65, 156, 0.567);
}
img{
    text-align: center;
    
}
